@import "../../../../global.scss";

.menuHeroContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 40px;
    .menuHero {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        h1 {
            color: $mainColor;
            font-weight: 800;
            font-size: 50px;
        }
        span {
            color: $secondaryColor;
            width: 300px;
            text-align: center;
            font-size: 40px;
        }
    }
}

@media (max-width: 508px) {
    .menuHeroContainer {
        width: 100%;
        display: none;
        display: flex;
        .menuHero {
            width: 100%;
            max-width: 1200px;
            flex-direction: column;
            h1 {
                text-align: center;
                @include mobileTitles;
            }
            span {
                width: 100%;
                text-align: center;

                @include mobileSubtitles;
            }
        }
    }
}
