@import "../../../../global.scss";
.homeCtaContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    .homeCta{
        padding-block: 40px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h3{
            font-size: 50px;
            font-weight: 400;
        }

        button{
            width: fit-content;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color: $thirdColor;
            background-color: $mainColor;
            border-radius: 5px;
            border: none;
            font-size: 20px;
            font-weight: 300;
            cursor: pointer;

        }
    }
}
