@import "../../../../global.scss";

.homeHeroContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .homeHero {
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            h2 {
                font-weight: 400;
                font-size: 60px;
                line-height: 60px;
            }
            h1 {
                font-weight: 700;
                font-size: 70px;
                line-height: 70px;
                color: $mainColor;
            }
            span {
                font-size: 20px;
                text-align: left;
            }
        }
        .right{
            width: 55%;
            img{
                object-fit: contain;
            }
        }
    }
}
